body {
	background-color: rgb(147, 104, 202);
}

.gho {
	background-color: rgb(218, 119, 180);
	color: rgb(90, 35, 161);
	text-align: center;
	border-radius: 100px;
	width: 1000px;
	position: relative;
	left: 420px;
}